<section class="sheet padding-10mm invoice_form">
  <div class="alnright">
    <p>
      <%= l(@invoice.billing_date, format: :long) %>
    </p>
    <p>
      <%= "請求番号: #{@invoice.serial_number}" %>
    </p>
  </div>

  <h1>請求書</h1>

  <div id="invoiceHead" class="clearfix">
    <div class="alpha">
      <div class="recipientNameBox">
        <p class="recipientName">
           <%= "#{@invoice.recipient} 様" %>
        </p>
        <p class="recipient_notes"></p>
      </div>

      <p class="message">
        下記のとおりご請求申し上げます。
      </p>
      <dl class="totalAmountPrice clearfix">
        <dt>ご請求金額</dt>
        <dd>
          <%= "#{number_to_currency(@invoice.total_amount)} -" %>
        </dd>
      </dl>
    </div>

    <% sender = @invoice.sender %>
    <div class="beta_gamma clearfix">
      <div class="gamma">
        <!-- 印影 -->
      </div>
      <div class="beta">
        <p class="senderName">
          <%= sender.name %>
        </p>
        <p>
          〒<%= sender.postal_code %><br>
          <%= sender.address1 %><br>
          <%= sender.address2 %><br>
          <%= sender.address3 %><br>
          <br>TEL:<%= sender.telephone %><br>
          <%= sender.email %>
        </p>
      </div>
    </div>
  </div>

  <table width="100%" class="table_main">
    <tbody>
      <tr>
        <th>品番・品名</th>
        <th width="13%">数量</th>
        <th width="12%">単価</th>
        <th width="15%">金額</th>
      </tr>
    <% for i in 0..9 %>
      <% product = @invoice.products[i].present? ? @invoice.products[i] : nil %>
      <tr>
        <td>
          <%= product.try(:name) %>
        </td>
        <td class="alnright">
          <%= product.try(:number) %>
          <span class="unit-name"><%= product.try(:unit) %></span>
        </td>
        <td class="alnright">
          <%= product ? number_to_currency(product.try(:unit_price), :unit => "") : "" %>
        </td>
        <td class="alnright">
          &nbsp;
          <%= product ? number_to_currency(product.try(:amount), :unit => "") : "" %>
        </td>
      </tr>
    <% end %>

      <tr>
        <td class="blank"></td>
        <td colspan="2">小計</td>
        <td class="alnright">
          <%= number_to_currency(@invoice.try(:total_amount_without_tax), :unit => "") %>
        </td>
      </tr>
        <tr>
          <td class="blank"></td>
          <td colspan="2">消費税(<%= @invoice.tax_display %>%)</td>
        <td class="alnright">
          <%= number_to_currency(@invoice.try(:total_amount_without_tax) * @invoice.tax_rate, :unit => "") %>
        </td>
      </tr>
      <tr>
        <td class="blank"></td>
        <td colspan="2">合計</td>
        <td class="alnright">
          <%= number_to_currency(@invoice.try(:total_amount), :unit => "") %>
        </td>
      </tr>
    </tbody>
  </table>

  <p class="notes"></p>
  <% bank = @invoice.bank %>
  <div style="margin:1em 0;page-break-inside: avoid;">
    <strong>お振込先：</strong><br>
      <div>
        <%= "#{bank.bank_name} #{bank.branch_name} #{bank.account_type} #{bank.account_number} #{bank.account_holder}" %>
      </div>
  </div>

</section>
