<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <h2 id="page_title">請求者一覧</h2>
  </div>
  <div id="titlebar_right">
    <%= link_to '新しい請求者を作成する', new_sender_path, class: "title_button"%>
  </div>
</div>
<% if flash[:notice] %>
  <p class="flash flash_notice"><%= flash[:notice] %></p>
<% end %>
<table class="table table-bordered table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>名前</th>
      <th>電話番号</th>
      <th>Eメール</th>
      <th>住所</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @senders.each do |sender| %>
      <tr>
        <td><%= sender.name %></td>
        <td><%= sender.telephone %></td>
        <td><%= sender.email %></td>
        <td><%= sender.full_address %></td>
        <td><%= link_to '編集', edit_sender_path(sender) %></td>
        <td><%= link_to '削除', sender, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
