<!DOCTYPE html>
<html>
  <head>
    <title>Bills</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'hello_react', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to "Bills", root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item <%= 'active' if current_page?(invoices_path) || current_page?(root_path) %>">
              <%= link_to "請求書一覧", invoices_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item <%= 'active' if current_page?(senders_path) %>">
              <%= link_to "請求者一覧", senders_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item <%= 'active' if current_page?(banks_path) %>">
              <%= link_to "振込先銀行一覧", banks_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
